In [23]:
#########################################################

In [24]:
# dict in-build-functions
# len(),any(),all(),sorted()
# dict methods

In [58]:
dict1={"first name":"kishan","middle name":"kumar","last name":"thakur","class":"B.com(H)","course":"Data Science","Roll no":21}

In [60]:
dict1.pop()

TypeError: pop expected at least 1 argument, got 0

In [61]:
dict1.popitem()

('Roll no', 21)

In [4]:
dict1.clear()

In [5]:
dict1

{}

In [16]:
dict1={"first name":"kishan","middle name":"kumar","last name":"thakur","class":"B.com(H)","course":"Data Science","Roll no":21}

In [7]:
dict2=dict1.copy()

In [8]:
dict2

{'first name': 'kishan',
 'middle name': 'kumar',
 'last name': 'thakur',
 'class': 'B.com(H)',
 'course': 'Data Science',
 'Roll no': 21}

In [19]:
keys={"City"}
values={"Delhi","Mumbai","Goa","Rajasthan","Bihar"}
dictonary=dict.fromkeys(keys,values)
dictonary

{'City': {'Bihar', 'Delhi', 'Goa', 'Mumbai', 'Rajasthan'}}

In [21]:
dict1.get("city")

In [25]:
dict1

{'first name': 'kishan',
 'middle name': 'kumar',
 'last name': 'thakur',
 'class': 'B.com(H)',
 'course': 'Data Science',
 'Roll no': 21}

In [28]:
a=["name","class","roll no","subject"]
b={}
b=b.fromkeys(a)

In [32]:
dict1.items()

dict_items([('first name', 'kishan'), ('middle name', 'kumar'), ('last name', 'thakur'), ('class', 'B.com(H)'), ('course', 'Data Science'), ('Roll no', 21)])

In [33]:
dict1.keys()

dict_keys(['first name', 'middle name', 'last name', 'class', 'course', 'Roll no'])

In [34]:
dict1.values()

dict_values(['kishan', 'kumar', 'thakur', 'B.com(H)', 'Data Science', 21])

In [41]:
dict1.pop()

TypeError: pop expected at least 1 argument, got 0

In [40]:
dict1.popitem()

('course', 'Data Science')

In [45]:
dict1

{'first name': 'kishan', 'middle name': 'kumar', 'class': 'B.com(H)'}

In [46]:
dict2

{'first name': 'kishan',
 'middle name': 'kumar',
 'last name': 'thakur',
 'class': 'B.com(H)',
 'course': 'Data Science',
 'Roll no': 21}

In [50]:
dict2.update(dict1)

In [51]:
dict1

{'first name': 'kishan',
 'middle name': 'kumar',
 'class': 'B.com(H)',
 'last name': 'thakur',
 'course': 'Data Science',
 'Roll no': 21}

In [52]:
dict2

{'first name': 'kishan',
 'middle name': 'kumar',
 'last name': 'thakur',
 'class': 'B.com(H)',
 'course': 'Data Science',
 'Roll no': 21}

In [5]:
dict1={"first name":"kishan","middle name":"kumar","last name":"thakur","class":"B.com(H)","course":"Data Science","Roll no":21}

In [6]:
dict2={"first name":"rohit","middle name":"joshi","last name":"mandal","class":"B.com","course":"sap","Roll no":20}

In [7]:
print(dict1)
print(dict2)

{'first name': 'kishan', 'middle name': 'kumar', 'last name': 'thakur', 'class': 'B.com(H)', 'course': 'Data Science', 'Roll no': 21}
{'first name': 'rohit', 'middle name': 'joshi', 'last name': 'mandal', 'class': 'B.com', 'course': 'sap', 'Roll no': 20}

In [9]:
dict1.keys()

dict_keys(['first name', 'middle name', 'last name', 'class', 'course', 'Roll no'])

In [10]:
dict2.values()

dict_values(['rohit', 'joshi', 'mandal', 'B.com', 'sap', 20])

In [11]:
dict1.items()

dict_items([('first name', 'kishan'), ('middle name', 'kumar'), ('last name', 'thakur'), ('class', 'B.com(H)'), ('course', 'Data Science'), ('Roll no', 21)])

In [12]:
ls1=[("name","gopal jee"),("class",9),("roll no",22),("subject","all")]

In [13]:
ls2 = [1,2,3,4,5]

In [14]:
ld1 = dict(ls1)
ld2 = dict(ls2)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [15]:
ld2

NameError: name 'ld2' is not defined

In [16]:
ld1

{'name': 'gopal jee', 'class': 9, 'roll no': 22, 'subject': 'all'}

In [17]:
dict1

{'first name': 'kishan',
 'middle name': 'kumar',
 'last name': 'thakur',
 'class': 'B.com(H)',
 'course': 'Data Science',
 'Roll no': 21}

In [18]:
dict2

{'first name': 'rohit',
 'middle name': 'joshi',
 'last name': 'mandal',
 'class': 'B.com',
 'course': 'sap',
 'Roll no': 20}

In [21]:
dict1.get("first name","rohit")

'kishan'

In [22]:
dict1.get("name","rohit")

'rohit'

In [32]:
ls2
dict3={}
dict3=dict3.fromkeys(ls2)
dict3

{1: None, 2: None, 3: None, 4: None, 5: None}

In [38]:
dict1.pop("Roll no")

21

In [39]:
dict1

{'first name': 'kishan',
 'middle name': 'kumar',
 'last name': 'thakur',
 'class': 'B.com(H)',
 'course': 'Data Science'}

In [40]:
dict2.popitem()

('Roll no', 20)

In [41]:
dict2

{'first name': 'rohit',
 'middle name': 'joshi',
 'last name': 'mandal',
 'class': 'B.com',
 'course': 'sap'}

In [42]:
dict1.update(dict2)

In [45]:
dict1

{'first name': 'rohit',
 'middle name': 'joshi',
 'last name': 'mandal',
 'class': 'B.com',
 'course': 'sap'}

In [51]:
sorted(dict1)

['class', 'course', 'first name', 'last name', 'middle name']

In [52]:
len(dict1)

5

In [53]:
any(dict1)

True

In [54]:
all(dict1)

True

In [55]:
any(dict3)

True

In [56]:
all(dict3)

True