In [1]:
l1 = [1,2,3,4,5,6,"aman","kumar",[7,8,9]]

# list.append()

In [2]:
l1.append(10)

In [4]:
print(l1)

[1, 2, 3, 4, 5, 6, 'aman', 'kumar', [7, 8, 9], 10]

In [5]:
l2=[3,4,5,6]

In [6]:
l1.append(l2)

In [7]:
l1

[1, 2, 3, 4, 5, 6, 'aman', 'kumar', [7, 8, 9], 10, [3, 4, 5, 6]]

In [8]:
l1.append(12,23)

TypeError: list.append() takes exactly one argument (2 given)

it means append method add only 1 value or 1 list because it has only parameters

#

# list.clear()

In [9]:
l1.clear()

In [10]:
l1

[]

it means clear method delete all items in a particular list

#

# list.copy()

In [11]:
l1 = l2.copy()

In [12]:
l1

[3, 4, 5, 6]

In [13]:
l2

[3, 4, 5, 6]

it means copy method takes all items in other list

#

# list.count()

In [17]:
l1=[1,2,3,4,5,"aman",3,4,5,2,"kumar",6,7,8]

In [19]:
l1.count(3)

2

it means count methods count a value form a particular list

#

# list.extend()

In [22]:
l1.extend(2)

TypeError: 'int' object is not iterable

In [20]:
s = "akash","thakur"
l1.extend(s)

In [21]:
l1

[1, 2, 3, 4, 5, 'aman', 3, 4, 5, 2, 'kumar', 6, 7, 8, 'akash', 'thakur']

it means extend method appned only iterble values like tuple,string,list.

#

# list.index()

In [24]:
l1.index("aman")

5

it means index method return index position from a particular list of a value.

#

# list.insert()

In [32]:
l1.insert(6,"raju")

In [34]:
print(l1)

[1, 2, 3, 4, 5, 'aman', 'raju', 3, 4, 5, 2, 'kumar', 6, 7, 8, 'akash', 'thakur']

In [35]:
l1.insert(0,0)

In [37]:
print(l1)

[0, 1, 2, 3, 4, 5, 'aman', 'raju', 3, 4, 5, 2, 'kumar', 6, 7, 8, 'akash', 'thakur']

it means insert method append a value from a list at a particular index position       l1.insert(index position, value)

#

# list.pop()

In [39]:
l1.pop()

'thakur'

In [40]:
l1

[0, 1, 2, 3, 4, 5, 'aman', 'raju', 3, 4, 5, 2, 'kumar', 6, 7, 8, 'akash']

by deafult it delete  last value from a list but you want to delete another index position value so you can give the index = index position in a parameter of pop method

In [41]:
l1.pop(0)

0

In [42]:
l1

[1, 2, 3, 4, 5, 'aman', 'raju', 3, 4, 5, 2, 'kumar', 6, 7, 8, 'akash']

like this

#

# list.remove()

In [43]:
l1.remove()

TypeError: list.remove() takes exactly one argument (0 given)

In [44]:
l1.remove(2)

In [45]:
l1

[1, 3, 4, 5, 'aman', 'raju', 3, 4, 5, 2, 'kumar', 6, 7, 8, 'akash']

it means remove method delete a value which is you want to delete from a list

#

# list.reverse()

In [46]:
l1.reverse()

In [47]:
l1

['akash', 8, 7, 6, 'kumar', 2, 5, 4, 3, 'raju', 'aman', 5, 4, 3, 1]

it means reverse method reverse all items in a list

#

# list.sort()

In [48]:
l1.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [49]:
l1

['akash', 8, 7, 6, 'kumar', 2, 5, 4, 3, 'raju', 'aman', 5, 4, 3, 1]

if i want to sort my all values so i shall have to delete strings values form this list

In [62]:
l2=[]
for i in l1:
    if type(i) ==int:
        l2.append(i)
print(l2)

[8, 7, 6, 2, 5, 4, 3, 5, 4, 3, 1]

In [63]:
l2.sort()

In [64]:
l2

[1, 2, 3, 3, 4, 4, 5, 5, 6, 7, 8]

if i want to sort it in desending order so

In [65]:
l2.sort(reverse=True)

In [66]:
l2

[8, 7, 6, 5, 5, 4, 4, 3, 3, 2, 1]

In [67]:
l3=["aman","kumar","rahul","singh"]

In [68]:
l3.sort()

In [69]:
l3

['aman', 'kumar', 'rahul', 'singh']

it means sort method sort values in a particular list but in a list should have same data type

# Thanks For Watching List Methods